/* particles */

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* menu */
.menu {
    background-color: #23252642;
}

.menu a:hover {
    color: #E2E8F0;
    text-shadow: 0 0 5px #fff, 0 0 15px #8b9ffa, 0 0 30px #3a8eed;
}

/* aboutme */

.aboutme {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(167, 139, 250, 0.2);
    border-radius: 12px;
    color: #E2E8F0;
}

/* iconos */

.skill-icon i {
    font-size: 30px;
    transition: 0.3s;
    text-shadow: 0.3s;
    color: #E2E8F0;
}

.skill-card:hover .skill-icon {
    color: #7C3AED;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(190, 59, 230);
}

.skill-card:hover .skill-name {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(190, 59, 230);
}

/*proyectos*/
.projects {
    background: rgba(255, 255, 255, 0.05);
    /* backdrop-filter: blur(10px); */
    border: 1px solid rgba(167, 139, 250, 0.2);
    border-radius: 12px;
    color: #E2E8F0;
}

.project-card {
    transition: 0.6s;
    text-shadow: 0.6s;
}

.project-card:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(190, 59, 230);

}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.projects a[id="vermas"]:hover {
    text-shadow: 0 0 5px #fff, 0 0 15px #8b9ffa, 0 0 30px #3a8eed;

}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.aboutme.scroll {
    scroll-margin-top: 25ex;
}

.skill-grid.scroll {
    scroll-margin-top: 40ex;
}

.projects.scroll {
    scroll-margin-top: 10ex;
}

.proyecto-lenguaje .devicon-csharp-plain:hover {
    color: rgba(8, 93, 159);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(8, 93, 159);
}

.proyecto-lenguaje .devicon-docker-plain:hover {
    color: rgba(11, 157, 199);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(11, 157, 199);
}

.proyecto-lenguaje .devicon-unity-plain:hover {
    color: rgba(76, 76, 76);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(76, 76, 76);
}

.proyecto-lenguaje .devicon-fastapi-plain:hover {
    color: rgba(13, 156, 143);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(13, 156, 143);
}

.proyecto-lenguaje .devicon-git-plain:hover {
    color: rgba(240, 86, 57);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(240, 86, 57);
}

.proyecto-lenguaje .devicon-javascript-plain:hover {
    color: rgba(253, 217, 66);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(253, 217, 66);
}

.proyecto-lenguaje .devicon-html5-plain:hover {
    color: rgba(241, 106, 48);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(241, 106, 48);
}

.proyecto-lenguaje .devicon-css3-plain:hover {
    color: rgba(48, 106, 241);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(48, 106, 241);
}

.contact-links .devicon-linkedin-plain:hover {
    color: rgba(0, 118, 178);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(0, 118, 178);
}

.contact-links .devicon-github-original:hover {
    color: rgba(8, 8, 8);
    text-shadow: 0 0 10px #E2E8F0, 0 0 10px rgba(8, 8, 8);
}